<header>
  <mat-toolbar class="header-mat-toolbar">
    <span>🗓️ Automatic Course Planner</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a routerLink="/">Home Page</a>
      </li>
      <li>
        <a routerLink="/upload-files">Upload Files</a>
      </li>
      <li>
        <a routerLink="/courses-and-classrooms">Courses and Classrooms</a>

      </li>
      <li>
        <a routerLink="/instructors">Instructors</a>
      </li>
      <li>
        <a routerLink="/schedule">Schedule</a>
      </li>
      <li>
        <a routerLink="/credits">Credits</a>
      </li>

    </ul>
  </mat-toolbar>

</header>
