<main>
  <br><br>
  <div class="header">
    <h1 class="page-title">WELCOME TO THE AUTOMATIC COURSE PLANNER!</h1> <br>
  </div>

  <div class="container">
    <div class="description">
      <br><br>
      <p class="paragraphSpecial">Here is what you can do with our planner:</p> <br>

      <p class="paragraph">1. Automatic Schedule Creation: <details>
        - Use our scheduler to quickly create schedules for your courses.
      </details>
      </p>  <br><br>

      <p class="paragraph">2. Course Information Management: <details>
        - Add, change and organize all the important
      </details>  
      </p> <br><br>

      <p class="paragraph">3. Classroom Information Management: <details>
        - Manage the classrooms by adding and updating details like capacity and availability.
      </details>
      </p>
    </div>
    <div class="guideline">
      <br><br><br>
      <p class="paragraphGuideline">Guideline: </p> <br>
      <p class="paragraph2">1. Start by uploading your course, service, busy and classrooms CSV files.</p> <br>
      <p class="paragraph2">2. Process your uploaded CSV files to create schedules.</p> <br>
      <p class="paragraph2">3. Review and Adjust: Examine the generated schedules. If necessary, update course or classroom information and new classrooms to optimize your schedule.</p> <br>
      <p class="paragraph2">4. Visit the Schedule tab to see your schedules and plan your academic timetable effectively.</p> <br>
      <br>
    </div>
  </div>
</main>
